.btnDelete {
  background-color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.btnEdit {
  background-color: yellow;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
